@model IEnumerable<Category>


<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        @foreach (var category in Model)
        {
            <div class="dropdown show">
                <a class="nav-link dropdown-toggle" id="dropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@category.Name</a>
                @if (category.Subcategories.Count() != 0)
                {
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        @foreach (var subcategory in category.Subcategories)
                        {
                            <a class="dropdown-item" href="#">@subcategory.Name</a>
                        }
                    </div>
                }
            </div>
        }
    </div>
</nav>