@model NewsModelConfigure

@{ ViewData["Title"] = "Home Page"; }

@await Component.InvokeAsync("Menu")

@{ await Html.RenderPartialAsync("_IndexItemsPart", Model); }
<div id="IndexItemsPart"></div>
<div id="progress" style="display:none;">
    <img src="" alt="Loading" /> Loading more     products...
</div>
<div id="progressmarker"></div>
<div id="block1" data-psize="@Model.News.Count()" data-ps="@Model.TotalPages" 
     data-category="@Model.CategoryName" data-subcategory="@Model.SubcategoryName"></div>
