@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на сайт хороших новостей</h1>
    <p>Для входа на сайт используйте свой логин и пароль. Если вы посетили на сайт впервые для входа вам необходимо пройти регистрацию.</p>
</div>
